@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

/*global styles*/
*{color: black;
font-family: "Lato", sans-serif;
font-size: 18px;
padding: 0;
margin: 0;
box-sizing: border-box;}
H1, H2, H3, H4, H5, H6, span {
    color: black;
    text-align: center;
    line-height: 1.25;
}
h1{
    font-size: 36px;
    font-weight: 700;
}
p {
    font-size: 20px;
    line-height: 1.5;
}
ul{
    list-style: none;
}

section:nth-child(odd){
    background-color: #D8F3DC;
}
section:nth-child(even){
    background-color: #B7E4C7;
}
html{
    scroll-behavior: smooth;
}
a {
    text-decoration: none;    
    position:relative;
    color: #B7E4C7;
}

.text__green{
color: #52B788;
font-size: 32px;
font-weight: 700;
}

.section__row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
}

/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1B4332;
    padding: 4px 8px;
}
.header__logo--wrapper{
    width: 50vw;
    max-width:500px;
}
.header__logo{
    width: 100%;
}
.nav__link--list{
    display: flex;
    flex-direction: row;
    font-weight: 700;
}
.nav__link{
    margin: 12px;
}
.nav__link--primary{
    background-color: #2D6A4F;
    padding: 8px 12px;
    border-radius: 20px;
}
.nav__link--primary:hover{
    background-color: #40916C ;
}
.link__hover-effect:after{
    content: "";
    position: absolute;
    height: 3px;
    background-color: #D8F3DC;
    width: 0;
    right:0;
    bottom: -3px;
    transition: all 300ms ease;
}
.link__hover-effect:hover:after{
    width: 100%;
    left: 0;
}

/* about me */
#about-me{
    display: flex;
    justify-content: center;
}

.about-me__info--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 24px;
}
.about-me__picture--wrapper{
    max-width: 200px;
    max-height: 200px;
    margin: 24px auto;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 8px 16px #081C15;
    animation: animate__about-me--picture 800ms 400ms ease-in backwards;
}
@keyframes animate__about-me--picture {
    0%{
        transform: scale(0);}
    80%{
        transform: scale(1.1);}
    100%{
        transform: scale(1);}
}
.about-me__picture{
    width: 100%;
}
.about-me__section--title{
    font-size: 32px;
    font-weight: 700;
    animation: animate__about-me 800ms 600ms ease-in backwards;
}
@keyframes animate__about-me {
    0%{
        opacity: 0;
        transform: translateY(90px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.smiley__face{
    display: inline-block;
    font-size: 32px;
    animation: face__animation 1000ms 200ms ease-in-out infinite;
}
@keyframes face__animation {
    0%{transform: scale(.5);}
    50%{transform: scale(1);}
    100%{transform: scale(.5);}
}
.text__green--para{
    font-size: 20px;
}
.about-me__info--para{
    max-width: 600px;
    animation: animate__about-me 800ms 800ms ease-in backwards;
}

.about-me__links{
    animation: animate__about-me 800ms 1000ms ease-in backwards;
}

.about-me__link i{
    font-size: 24px;
    margin: 0 24px;
}
.about-me__drawing--wrapper{
    max-width: 60vw;
    margin-bottom: 24px;
    animation: fade-in__drawing 1200ms 1600ms backwards;
}
    
@keyframes fade-in__drawing {
    0%{opacity: 0;}
    100%{opacity: 1;}
}


.about-me__drawing{
    width: 100%;
}
/* languages section*/
#languages{
    display: flex;
    align-items: center;
    justify-content: center;
}
.languages__row{
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.languages__section--container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.languages__title{
    margin:24px 0 ;
}
.language__badges{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    margin: 24px auto;
}
.badge__container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
    position:relative;
}
.badge__wrapper{
    height: 100px;
    width: 100px;
}
.badge{
    width: 100%;
    transition: all .3s ease-in;
}
.badge:hover{
    filter: brightness(.8);
    transform: scale(1.2);
    opacity: .8;
}

.language__name{
    position: absolute;
    bottom: -32px;
    font-weight: 600;
    opacity: 0;
    transform: scale(0);
    transition: all .3s ease-in;
}
.badge__container:hover .language__name{
    transform: scale(1);
    opacity: 1;
}

/* projects section */
projects{
    display: flex;
}
.projects__row{
    width: 80vw;
    margin: 0 auto;
}
.projects__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projects__title{
    margin: 24px 0 60px 0;
}
.project__list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
    max-width: 60vw;
    margin-bottom: 80px;
}

.project__image{
    width: 100%;
  
}
.project__wrapper{
    width: 100%;;
    display: flex;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 16px 32px #1B4332;
    position: relative;
    transition: all .3s ease-in-out;
    z-index: 2;
}
.project__wrapper:before{
   position: absolute;
   content: "";
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: #1B4332;
   opacity: 0;
   transition: all .3s ease-in-out;
}
.project:hover .project__wrapper:before{
    opacity: .8;

}
.project:hover .project__image{
    transform: scale(1.05);
    filter: blur(5px);
    opacity: 0.2;
}

.project__desc{
    position: absolute;
    top: 20%;
    margin: 0 16px;
    transform: translateY(40%);
    opacity: 0;
    z-index: 3;
    transition: transform 300ms ease-in, opacity 300ms ease-in;
}
.project:hover .project__desc{
    opacity: 1;
    transform: translateY(0);
}

.project__desc--title{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 12px;
    color: white;
}
.project__desc--sub-title{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 8px;
    color: white;
}
.project__desc--para{
    font-size: 20px;
    text-align: left;
    margin-bottom: 12px;
    color: white;
}
.project__desc--links{
    display: flex;
    align-items:center;
    justify-content: center;
}
.project__desc--link i{
    margin: 0 16px;
    color: white;
}
/*footer */
footer{
    background-color: #1B4332;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer__logo--wrapper{
    max-width: 40vw;
}
.footer__logo{
    width: 100%;
}
.footer__links{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.footer__copyright{
   text-align: center;
     color: #52B788;
}